In [7]:
!ls -1

holdings_06-05-2024_6NB959.xlsx
'holdings(9).csv'
Untitled.ipynb
upstox.csv
upstox.xlsx
zerodha.csv

In [8]:
upstox_file = 'upstox.csv'
zerodha_file = 'zerodha.csv'

In [9]:
import pandas as pd

In [5]:
z_holding = pd.read_csv(zerodha_file)
z_holding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Instrument  49 non-null     object
 1   Qty.        49 non-null     int64
 2   Avg. cost   49 non-null     float64
 3   LTP         49 non-null     float64
 4   Cur. val    49 non-null     float64
 5   P&L         49 non-null     float64
 6   Net chg.    49 non-null     float64
 7   Day chg.    49 non-null     float64
dtypes: float64(6), int64(1), object(1)
memory usage: 3.2+ KB

In [11]:
u_holding = pd.read_csv(upstox_file)
u_holding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ISIN         39 non-null     object
 1   Scrip Name   39 non-null     object
 2   Free Qty     39 non-null     float64
 3   Current Qty  39 non-null     float64
 4   Freeze Qty   39 non-null     float64
 5   Locked Qty   39 non-null     float64
 6   Pledge Qty   39 non-null     float64
 7   Value Date   39 non-null     object
 8   Rate         39 non-null     float64
 9   Valuation    39 non-null     float64
dtypes: float64(7), object(3)
memory usage: 3.2+ KB

In [12]:
z_holding.head()

,Instrument,Qty.,Avg. cost,LTP,Cur. val,P&L,Net chg.,Day chg.
0,AARTISURF,21,726.94,684.00,14364.00,-901.80,-5.91,-0.53
1,ASIANPAINT,53,2775.38,2929.75,155276.75,8181.75,5.56,-1.53
2,AUBANK,55,623.95,645.00,35475.00,1157.75,3.37,-0.05
3,AXISBANK,102,982.80,1141.50,116433.00,16187.40,16.15,-0.73
4,BAJFINANCE,42,6203.85,6932.80,291177.60,30615.75,11.75,0.75

In [13]:
u_holding.head()

,ISIN,Scrip Name,Free Qty,Current Qty,Freeze Qty,Locked Qty,Pledge Qty,Value Date,Rate,Valuation
0,INE769A01020,AARTI IND-EQ RS.5,56.0,56.0,0.0,0.0,0.0,06-05-2024,749.55,41974.80
1,INE117A01022,ABB INDIA LTD-EQ RS2,10.0,10.0,0.0,0.0,0.0,06-05-2024,6942.30,69423.00
2,INE731H01025,ACTION CONST-EQ RS 2,70.0,70.0,0.0,0.0,0.0,06-05-2024,1432.75,100292.50
3,INE079A01024,AMBUJA CEMENTS EQ,55.0,55.0,0.0,0.0,0.0,06-05-2024,605.95,33327.25
4,INE372A01015,APAR INDUSTRIES EQTY,5.0,5.0,0.0,0.0,0.0,06-05-2024,7694.55,38472.75